/Jen Generators/Now that is what I call music
Jen Generators/dom_parser.pyc
/Tantrum Generators/*.pyc
/Windows Applications/Tantrum IPTV Editor/.vs
/Windows Applications/Tantrum IPTV Editor/IPTV_Playlist_Editor/obj
/Windows Applications/Tantrum IPTV Editor/IPTV_Playlist_Editor/bin
